
body{
    background-image: url("https://i.pinimg.com/originals/2a/a5/f2/2aa5f2a45fa5cbda5b42f05f045cfb28.gif");
    width: 100%;
    height: 100vh;
    background-size: 100% 110vh;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
}
.h1-tag{
    text-align: center;
    color: #fff;;
    margin-top: 4%;
}
.form-content-section{
    color: #fff;
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
}
@media screen and (max-width: 600px){
    .form-content-section{
        width: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
    .form-group{
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn-primary{
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px){
    .form-content-section{
        width: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
    .form-group{
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn-primary{
        margin-left: 20px;
    }
}
