.input-field {
  margin-bottom: 20px; /* Reduced margin for cleaner layout */
  position: relative; /* Ensure error message positioning is easier */
}

/* Styling for the error messages */
.error {
  color: red;
  font-size: 8px; /* Smaller text for error messages */
  margin-top: 6px; /* Slight margin to separate it from the input field */
  display: none; /* Hidden by default */
  position: absolute; /* Absolute positioning to avoid pushing down other common_elements */
  bottom: -18px; /* Positioned just below the input field */
  left: 0;
}

/* Add some padding to the inputs for better alignment */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

#serverError{
  font-size: 20px;
}